<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<h2>Login Form</h2>

<form action="/login/check" method="post">
    <label>Username: </label>
    <input type="text" name="username"><br><br>

    <label>Password: </label>
    <input type="password" name="password"><br><br>

    <button type="submit">Login</button>
</form>

<!-- hiển thị thông báo nếu có -->
<p th:text="${message}" style="color:red"></p>

</body>
</html>
