<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>

<i th:text="${message}">Error message</i>

<form action="/auth/login" method="post">
    <label>Username:</label>
    <input name="username" required>
    <br>
    <label>Password:</label>
    <input name="password" type="password" required>
    <hr>
    <button type="submit">Login</button>
</form>
<div th:if="${session.message}" class="alert alert-warning" th:text="${session.message}"></div>

</body>
</html>
